* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 10px 15px;
	min-width: 1280px;
}

h1 {
    margin: 12px 0px;
}

h2 {
    margin: 10px 0px;
}

h3 {
    margin: 8px 0px;
}

p {
    margin: 10px 0px;
}

#save {
    width: 60%;
    min-width: 832px;
    margin: 40px 0;
    float: right;
}

#source {
    width: 30%;
    min-width: 200px;
    margin: 40px 0;
    clear: both;
    float: left;
    font-size: 16pt;
}

input[type=button], input[type=reset] {
    padding: 2px 1em;
}

#chooser {
    width: 30%;
    min-width: 200px;
    margin: 10px;
    padding-left: 15px;
    float: left;
    font-size: 14pt;
}
#preview {
    width: 60%;
    min-width: 832px;
    float: right;
}

ul {
    list-style-type: none;
}

#chooser>ul>li {
    cursor: pointer;
    font-size: 16pt;
}

#chooser>ul>li>.condensed:after, #chooser>ul>li>ul>li>.condensed:after {
	padding-left: 10px;
	content: url('images/arrow_right.png');
}

#chooser>ul>li>.expanded:after, #chooser>ul>li>ul>li>.expanded:after {
	padding-left: 10px;
	content: url('images/arrow_down.png');
}

#chooser>ul>li>ul>li>ul {
    display: none;
}

#chooser>ul>li>ul {
    display: none;
}

/*
#chooser>ul>li:hover ul {
    display: block !important;
}
*/

#chooser>ul>li>ul>li {
    font-size: 12pt;
    padding-left: 48px;
    text-indent: -18px;
}

#chooser>ul>li>ul>li>ul>li {
    font-size: 12pt;
    padding-left: 64px;
    text-indent: -18px;
}

#customizeChar p {
    display: block;
    margin: 50px 0;
}

#github {
    position: fixed;
    top: 0;
    right: 0;
}

a {
    border: 0;
}