* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px 15px;
}

h1 {
    margin: 12px 0px;
}

h2 {
    margin: 10px 0px;
}

h3 {
    margin: 8px 0px;
}

p {
    margin: 10px 0px;
}

#save {
    width: 60%;
    min-width: 832px;
    margin: 40px 0;
    float: right;
}

#source {
    width: 30%;
    min-width: 200px;
    margin: 40px 0;
    clear: both;
    float: left;
    font-size: 16pt;
}

input[type=button] {
    padding: 2px 1em;
}

#chooser {
    width: 30%;
    min-width: 200px;
    margin: 10px;
    padding-left: 15px;
    float: left;
    font-size: 14pt;
}
#preview {
    width: 60%;
    min-width: 832px;
    float: right;
}

ul {
    list-style-type: none;
}

#chooser>ul>li {
    cursor: pointer;
    font-size: 16pt;
}

#chooser>ul>li>ul>li>ul {
    display: none;
}

#chooser>ul>li>ul {
    display: none;
}

/*
#chooser>ul>li:hover ul {
    display: block !important;
}
*/

#chooser>ul>li>ul>li {
    font-size: 12pt;
    padding-left: 48px;
    text-indent: -18px;
    
}

#collapse {
    display: block;
    margin: 50px 0;
}

#github {
    position: absolute;
    top: 0;
    right: 0;
}

a {
    border: 0;
}