name: Lint

on:
  push:
    branches:
      - master
      - full_rewrite
      - paint-in-place-for-real
  pull_request:
    branches:
      - master
      - full_rewrite
      - paint-in-place-for-real

jobs:
  ci:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Run ESLint
        run: npx eslint . --ext .js
